arabic-reshaper==2.0.15
certifi==2020.4.5.2
chardet==3.0.4
docutils==0.16
ffpyplayer==4.3.1
future==0.18.2
idna==2.9
Kivy==1.11.1
Kivy-Garden==0.1.4
kivy-garden.graph==0.4.1.dev0
Pygments==2.6.1
python-bidi==0.4.2
requests==2.23.0
six==1.15.0
urllib3==1.25.9
